body {
	font-family: "Dosis", sans-serif;
	font-size: 1.2em;
	max-width: 1280px;
	margin: auto;
	padding: 1.5em;
	display: flex;
	flex-flow: column nowrap;
	align-self: center;
}

header {
	font-weight: 400;
}

main .portfolio-item:nth-child(2n) {
	flex-direction: row-reverse;
}

footer {
	text-align: center;
	font-size: smaller;
	border-top: 1px solid #069e45;
	padding-top: 1em;
}

a {
	font-style: normal;
	text-decoration: none;
	color: #069e45;
	transition: 0.3s;
}

a:hover {
	color: #05cc58;
	transition: 0.3s;
}

.hello {
	color: #069e45;
	font-weight: 700;
}

/* Portfolio Items */

/* The main container for each portfolio item */
.portfolio-item {
	display: flex;
	flex-flow: row wrap;
	border-bottom: 1px solid rgb(230, 230, 230);
	padding-top: 2%;
	padding-bottom: 2%;
}

/* The showcased image (phone or screen) */
.portfolio-image {
	flex: 1 1 300px;
	top: 1em;
}

.left {
	position: relative;
	left: -10%;
}

.right {
	position: relative;
	right: -5%;
}

.portfolio-image img {
	max-width: 100%;
}

/* The floating accompanying logo and text block */
.portfolio-desc {
	flex: 2 1 200px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	margin-right: 1em;
	margin-left: 1em;
}

/* The logo of the credential */
.portfolio-logo {
	height: 2em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	vertical-align: middle;
	width: 100%;
	align-self: baseline;
}

.multilogo {
	max-width: 30%;
}

.logo-50 {
	height: 50%;
}

.logo-75 {
	height: 75%;
}

.cs {
	position: relative;
	top: -6px;
}

/* The year of the credential */
.portfolio-year {
	font-weight: lighter;
	font-size: 1em;
	margin-bottom: 0%;
}

.about-container {
	display: flex;
	flex-flow: row wrap;
}

.about-container img {
	width: 100%;
	padding-bottom: 1em;
}

.about-img {
	flex: 1 1 300px;
	margin-right: 1.5em;
}

.about-desc {
	flex: 1 1 300px;
}

.resume-link {
	font-weight: bold;
}

.nametitle {
	font-weight: lighter;
	font-size: 0.75em;
	text-transform: uppercase;
}
